<header class="main-header">
    <div class="main-header-top-bar">
        <div class="img-logo">
            <a href="/">
                <img src="/images/logo-mercado-liebre.svg" class="logo">
            </a>
        </div>
        <div class="search-bar">
            <input type="text"  value="" placeholder="Buscar productos, marcas">
        </div>
        <h2 class="copy-header">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito
        </h2>
    </div>

    <a href="#" class="hamburguer-button">
        <i class="fas fa-bars"></i>
    </a>

    <nav class="main-navbar">
        <ul class="left-navbar">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>

        <ul class="right-navbar">
            <li><a href="/register">Mi Perfil <i class="fa-solid fa-credit-card"></i></a></li>
            <li><a href="">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            <li><a href="/login">Cerrar Sesión <i class="fa-solid fa-right-to-bracket"></i></a></li>
        </ul>
    </nav>
</header>