:root{
    --yellow: #EAC926;
    --dark-blue: #03264C;
    --light-blue: #1259c3;
    --gray: #666;
    --light-gray: #ebebeb;
    --green: #39b54a;
    --dark-gray: #222222;
}

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.main-header{
    background-color: var(--yellow);
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.img-logo a{
    display: flex;
    margin: auto;
}
.logo{
    width: 200px;
    margin: auto;
}

.search-bar{
    width: 100%;
    margin-top: 10px;
}

.search-bar input{
    width: 100%;
}

.hamburguer-button{
    background-color: var(--dark-blue);
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    margin: auto;
}

.copy-header{
    font-weight: 400;
    text-align: center;
}

.main-navbar{
    display: none;
}

.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a{
    text-decoration: none;
    color: var(--dark-gray);
    display: inline-block;
    padding: 5px;
    font-size: 17px;
}
main{
    background-color: var(--light-gray);
    padding: 5px;
    width: 90%;
    margin: auto;
}
.content{
    margin-top: 300px;
}
.product-card{
    position: relative;
    margin-bottom: 10px;
    min-width: 200px;
    max-width: 350px;
    transition: 500ms;
}
.product-card:hover{
    -webkit-box-shadow: 8px 11px 7px 1px rgba(0,0,0,0.63);
    -moz-box-shadow: 8px 11px 7px 1px rgba(0,0,0,0.63);
    box-shadow: 8px 11px 7px 1px rgba(0,0,0,0.63);
}
.product-card a{
    text-decoration: none;
    color: var(--dark-gray);
}
.camion{
    position: absolute;
    right: 20px;
    bottom: 90px;
    border: 1px solid var(--green);
    width: fit-content;
    border-radius: 50%;
    padding: 4px;
    color: var(--green);
    font-size: 30px;
    transition: transform 1s;
}
.product-card:hover .camion{
    transform: rotate(-90deg);
}
.product-info{
    border-top: solid 1px #ebebeb;
    background-color: white;
    padding: 15px;
}
.product-detail{
    display: flex;
}
.product-detail .off{
    color: var(--green);
}
.product-detail p{
    margin: 0 20px;
}
.product-info .description{
    opacity: 0;
    font-size: 20px;
    color: var(--dark-gray)
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all 700ms;
}
.product-card:hover .description{
    opacity: 1;
}
main img{
    max-width: 100%;
    margin: auto;
}
footer{
    display: block;
    margin-top: 40px;
    text-align: center;
}
.footer-cards{
    border-bottom: solid 1px rgba(0,0,0,0.2);
}
.card-footer{
    display: block;
    padding: 15px;
    margin: 0 20px;
}
.card-footer h3{
    margin-bottom: 0;
    color: var(--gray);
    font-size: 30px;
}
.card-footer p{
    margin-top: 0;
    color: var(--gray);
    font-size: 25px;
}
.footer-icon{
    font-size: 40px;
    color: var(--light-blue);
    transition: color 500ms;
}
.footer-icon:hover{
    color: var(--dark-blue);
}
.copyright{
    display: block;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
    text-align: left;
    color: var(--gray);
}
form{
    display: block;
    text-align: left;
}
.form-elements{
    display: block;
    text-align: left;
    margin: auto;
    /* max-width: fit-content; */
    width: 100%;
}
.form-item{
    display: block;
    margin: 15px 0;
}
.form-item label{
    display: block;
    font-size: 18px;
    margin-bottom: 3px;
}
input{
    border: none;
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
}
.buttons{
    text-align: center;
}
.btn-submit{
    background-color: orange;
    width: 30%;
    margin-right: 3px;
    font-size: 20px;
    border-radius: 7px;
}
.btn-reset{
    color: white;
    background-color: red;
    width: 30%;
    margin-left: 3px;
    font-size: 20px;
    border-radius: 7px;
}
.btn-login{
    color: white;
    background-color: blue;
    width: 50%;
    font-size: 20px;
    border-radius: 7px;
    transition: 500ms;
}
.btn-login:hover{
    background-color: #0022AA;
}



@media( min-width:768px ){
    .main-header-top-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .img-logo{
        flex-grow: 1;
        max-width: 160px;
    }
    .logo{
        width: 150px;
    }
    .search-bar{
        max-height: 30px;
        max-width: 250px;
        margin: auto;
        flex-grow: 1;
    }
    .copy-header{
        max-width: 300px;
        text-align: right;
        font-weight: 200;
        font-size: 20px;
        flex-grow: 1;
    }
    .hamburguer-button{
        display: none;
    }
    .main-navbar{
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul{
        display: flex;
    }
    .content{
        margin-top: 170px;
    }
    .articles{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .product-card{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        margin-bottom: 15px;
    }
    .footer-cards{
        display: flex;
    }
    .form-title{
        text-align: center;
    }
    .form-elements{
        text-align: center;
        max-width: 50%;
        margin: auto;
        /* max-width: fit-content; */
    }
    .input-label{
        text-align: left;
    }
    .form-elements div input{
        width: 100%;
    }
}




@media( min-width: 1200px ){
    .img-logo{
        margin-right: 50px;
    }
    .logo{
        width: 250px;
    }
    .main-header-top-bar, .main-navbar{
        max-width: 1200px;
        margin: auto;
    }
    .copy-header{
        margin: 0;
        max-width: none;
        font-size: 22px;
        font-weight: 400;
    }
    .main-navbar{
        margin-top: 20px;
    }
    .main-navbar li{
        margin: 0 10px;
    }
    .main-navbar a{
        font-size: 19px;
    }
    .form-elements{
        max-width: 600px;
    }
}